body,h1,h2,h3,h4,h5,h6 {
    font-family: "Lato", sans-serif;
}

body, html {
  height: 100%;
  color: rgb(200, 200, 200);
  line-height: 1.8;
  background-color: rgb(29, 29, 29);
  font-size: 15px;
}

a, a:hover {
  color: inherit;
  text-decoration: inherit;
  cursor: pointer;
}

/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
  background-image: url('assets/canyon.jpg');
  min-height: 100%;
}

/* Second image (Portfolio) */
.bgimg-2 {
  background-image: url("assets/white_sands.jpg");
  min-height: 400px;
}

/* Third image (Contact) */
.bgimg-3 {
  background-image: url("assets/crater.jpg");
  min-height: 400px;
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

.js-scroll {
  opacity: 0;
  transition: opacity 800ms;
}

.js-scroll.scrolled {
  opacity: 1;
}

/* Turn off parallax scrolling and fade scrolling for tablets and phones */
@media only screen and (max-device-width: 1600px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
    min-height: 400px;
  }
}

.sticky-header {
  color: rgb(200, 200, 200);
  background-color: rgb(21, 21, 21);
}

.center-text {
  text-align: center;
}

.center-img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.portfolio-icon {
  max-height: 75px;
  max-width: 100%;
}

.theme-btn {
  background-color: rgb(29, 29, 29);
  border-color: rgb(200, 200, 200);
  color: rgb(200, 200, 200);
}

.carousel-img {
  height: 400px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  opacity: 0.6;
}

.theme-caption {
  color: #fff;
  text-shadow: 1px 1px rgb(29, 29, 29);
  font-weight: bold;
}

.js-scroll {
  opacity: 0;
  transition: opacity 800ms;
}

.js-scroll.scrolled {
  opacity: 1;
}

.footer-theme {
  color: rgb(200, 200, 200);
  background-color: rgb(21, 21, 21);
}

.footer-credits {
  margin-top: 25px;
}

/* .top {
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.navbar {
  overflow: hidden;
  width: 100%;
} */

.w3-button:hover {
  transition: 500ms;
}